<div class="flex">

<div class="w-[45%] h-28 bg-[#fcf9ea] border-b-2  caja">
      <div class="h-full w-full flex">
        <ul class="flex justify-between items-center w-full">
        <div class="flex items-center">
          <li class="lista"><a class="font-satisfy text-6xl">GrandIlama</a></li>
          <li class="lista"><a href="" class="links">Habitaciones</a></li>
          <li class="lista"><a class="links">Servicios</a></li>
          <li class="lista"><a href="" class="links">Contact</a></li>
        </div>
      </ul>
    </div>
    <div class="bg-[#fcf9ea] w-full h- mt-[2px] contenedor p-12">



        <div>

<h1 class="font-satisfy text-7xl">Memorable</h1>
        </div>

      <div class="absolute mt-14">
        <button>RESERVAS</button>
      </div>
    </div>
</div>
    <div class=" fondo1 flex w-[55%]">
      <ul class="w-full flex justify-end  items-center bg-transparent h-28">
        <li class="lista">
          <button class="border-white w-32 border h-12 text-white">
            Reserva Ahora
          </button>
        </li>
      </ul>
    </div>
</div>

