.lista{
margin-left: 32px;
margin-right: 32px;
}
.links{
  font-size: 18px;

}

.fondo1{
  background-image: url('/assets/pixelcut-export.webp');
  background-size: cover;
  height: 80vh;
}

.caja {
  box-shadow: 0 4px 2px -2px gray;
}

.contenedor{
  height: 68vh;

}


